{% extends 'FilePatchBundle:Default:index.html.twig' %}
{% block title %}New WebDav List{% endblock %}
{% block body %}
<a href='http://coyle.intuitsolutions-apps.net/sandbox/web/app_dev.php/dav'>Go Back</a>
<h2>New WebDav</h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endblock %}